{% extends 'base.html' %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/card_style.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/compress.css') }}?v=2"
/>
{% endblock %} {% block main_title %} Word to PDF {% endblock %}

<!-- implementing main container -->
{% block main_content %}
<section class="merge-page">
  <div class="merge-card">
    <h2>Word File Into PDF</h2>
    <p class="muted">
      Select multiple word file files and convert them int to pdfs.
    </p>

    <form
      class="merge-form ajax-upload-form"
      action="{{ url_for('word_to_pdf.word_to_pdf') }}"
      method="POST"
      enctype="multipart/form-data"
      id="mergeForm"
    >
      <div class="drop-zone" id="dropZone" data-type="word">
        <input
          type="file"
          name="files"
          accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          multiple
          id="pdfInput"
          hidden
        />

        <p class="drop-text">
          Drag & Drop Word files here <br />
          <span>or click to browse</span>
        </p>

        <ul class="file-list" id="fileList"></ul>
      </div>

      <div class="actions">
        <button type="submit" class="btn primary">Convert & Download</button>
        <button type="button" class="btn ghost" onclick="clearAll()">
          Clear All
        </button>
      </div>
    </form>

    <div class="upload-note">
      <span class="note-icon">🛠️</span>
      Upload Word files and convert them seamlessly into PDFs.
    </div>
  </div>
</section>
<script src="{{ url_for('static', filename='scripts/card.js') }}"></script>
{% endblock %}
